body {
    margin: 0px;
}
#logo1 {
    -webkit-animation: scale 6s ease-in;
    animation: scale 2.5s ease-in;
}
@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(0.0);
    }
    ;
    100% {
        -webkit-transform: scale(0.7);
    }
}
@keyframes scale {
    0% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    ;
    100% {
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
    }
    ;
}
#particle-slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: initial;
    top: 0;
}
.slides,
.dg {
    display: none;
}
.star {

    background: url('Web-Background-Developer.jpg');
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#maincanvas {
   
    width: 100%;
    height: 100%;
}
/*.draw {
  transform: scale(.7);
}*/

html {
    overflow: hidden;
}
@media screen and (max-width: 900px) {
    /*#particle-slider{
		display:none;
	}*/
    
    .draw {
        transform: none;
    }
}
}